.venv
backend/.venv
.idea
.uv-cache
.mypy_cache
.ropeproject
.ruff_cache
.DS_Store
__pycache__/
.env
.agents
/frontend/dist/**
/frontend/node_modules/**
/frontend/*.tsbuildinfo
/backend/data/**
/archive_not_used_code_anymore
/backend/build_checkpoints/**
.npm-cache
backend/.langchain_cache.db
backend/.pytest_cache/
backend/.mypy_cache/
backend/.ruff_cache/
backend/__pycache__/
frontend/.vite/
